nav.nav
    a.contact(href='/rss')
        i.fa.fa-rss
    a.menu(href="#navigation-bottom")
        i.fa.fa-bars
    //- Have if condition to check if logo is defined
    a.blog-logo(href='/')
    //-    span(style='background-image:url(@site.title)')= @site.title