footer.footer
	.wrapper
		h5#navigation-bottom What do you want to know more about?
		nav
			a.nav-slug
		section.copyright
			a(href='/')@site.title
			|&nbsp;&copy; @getFormattedDate
		section.poweredby
			|Proudly publishing using docpad &amp; codium